   html{
       scroll-behavior: smooth;
   }
   .menu{
       background-color:	(173,216,230,0.3);
       padding: 2%;
   }
   .section{
       margin-top: 2%;
       margin-bottom: 2%;
   }
   .itens_menu{
       text-align: center;
   }
   body{
        background-color: #B0C4DE;

    }
    h1{
        text-align:  center;
        padding-top: 2%;
        padding: 1%;  
    }
     .img_topo{
        width: 100%;
        height: ;
    }
    .img_corpo{
        width: 60%;
    }
    .container{
        width: 80%;
        margin: auto;
    }
    p{
        color: 	#708090 	;
        font-size: 1.5em;
        line-height: 1.7;
        text-align: justify;
        text-indent: 35px;
    }

    figure{
        text-align: center;
    }
    .ciel_pha > p{
        font-size: 2em;
        text-align: center;
    }
    .botao{
        width: 140px;
        height: 50px;
        background-color: 	#87CEEB;
        color: darkblue;
    }
    .botao p{
        padding-top: 15px;
        color: cadetblue;
    }
    footer{
        background-color: 	#808080;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    footer p{
        text-align: center;
        color: #F8F8FF;
        font-weight: bold;
    } 
    .center{
        text-align: center;
    }
    .esquerda{
        float: left;
        width: 25%;
        margin-top: 2%;
      
    } 
    .direita{
        float: right;
        width: 30%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
         	

